/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: 'Source Code Pro', monospace;

}

#navbar ul{
list-style: none;
display: flex;
flex-direction: row;
text-decoration: none;
justify-content: flex-end;
}

#navbar{
    background-color:#CDB4DB;
    padding: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    padding-right: 1em;
    font-size: 1.5em;
    margin-right: 1em;
}

#navbar ul li a:hover{
    color: #FFC8DD ;
}

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FFAFCC, #A2D2FF);
    margin-bottom: 0;
}

#welcome-section h1{
    font-size: 5em;
    color: white;
    font-weight: 600;

}

#welcome-section p{
    font-size: 2em;
    font-style: italic;
    color: white;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  
}

#projects{
   /* width: 100%;
    height: 100vh;
    background: linear-gradient( #A2D2FF, #FFAFCC);*/
    background-color:#A2D2FF ;
    padding: 5em 0;
}

#projects h2{
    text-align: center;
    color: white;
    font-size: 2em;
    border-bottom: 2px solid white;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    margin-bottom: 2em;
}

.project-tile{
    background-color:#CDB4DB ;
    margin: 2em;
    border-radius: 3px;
    transition: all 0.3s;
    padding-bottom: 0.7em;
    
}

.project-tile:hover{
    filter: drop-shadow(0 0 0.75rem white);
    transform: translateY(-5px);
}

.project-tile img{   
   width: 100%;
   object-fit: cover;
   border-radius: 3px;
   height: 90%;
}

.project-tile a{
    text-decoration: none;
    color: white;
}

.project-tile p{
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
    
}

#show-all{
    text-decoration: none; 
}

#show-all button{
    background-color: #CDB4DB;
    border: none;
    color: white;
    margin:0 auto;
    display: block;
    padding: 1em 2em;
    font-size: 1em;
    margin-top:2em;
}

#show-all button:hover{
    color:#FFC8DD ;
    transform: translateY(-5px);
}



#Contact{
background-color: #FFC8DD;
padding: 5em 0;
width: 100%;
height: 85vh;
display: flex;
flex-direction: column;
justify-content: center;
}

#Contact h3{
text-align: center;
font-size: 3em;
padding: 0.5em;
color: white;
}

#profile-link{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#profile-link a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

#profile-link a:hover{
    color: violet;
}


@media (max-width:800px) {
    #navbar ul{
        justify-content: center; 
    }

    .projects-grid{
        grid-template-columns: 1fr;
    }

    .project-tile{
        padding-bottom: 0;
    }
}

@media (max-width:414px) {
    #welcome-section h1{
        text-align: center;
    }

    .project-tile img{
        height: auto;
    }

    #profile-link{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #profile-link a{
        padding-bottom: 1em;
    }

    #Contact h3{
        padding-bottom: 1em;
    }

    
    
}




